/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);

body {
    color: #fff;
    font-size: 14px;
    font-family: Lobster, Helvetica, Arial, sans-serif;
    background-image: url(/style/header-pattern-01.png), url(/style/body-bg-33.jpg);
    background-repeat: repeat, repeat;
}

input {
    padding:10px;
    background: rgba(255,255,255,0.1);
    min-width: 480px;
    border: 0;
    font-family: Lobster, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 1.5em;
    border: 3px solid #4b1805;
    border-radius: 8px;
    text-align: center;
    outline: none;
}

input.loading {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

h1,h2,h3 {
    text-shadow: 0 0 10px #000;
    margin: 10px 0;
}

.wrapper{
    margin:0 auto;
    width:960px;
}

.dark-shadow {
    box-shadow: 0 0 20px #000;
}

#filters img {
    margin: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}

#content, #footer {
    margin: 20px 0;
}

a {
    color: #fff;
    text-shadow: 0 0 10px #fff;
    text-decoration: none;
}
